{%extends 'web/base.html.j2'%}

{%block extra_meta%}
{%endblock%}

{%block content%}
<!-- Page Content -->
<p>MAIN CONTENT</p>

<div>
    <img src="{{static('assets/images/dummy-user.png')}}"  alt="icon" >
</div>

{%endblock%}

{% block extra_footer_script %}
{% endblock %}
